/* - STYLES GÉNÉRAUX- */


@font-face {
    font-family: Jersey;
    src: url(../media/font/Jersey_10_Charted/Jersey10Charted-Regular.ttf);
  }

  @font-face {
    font-family: Poetsen;
    src: url(../media/font/Poetsen_One/PoetsenOne-Regular.ttf);
  }

:root {  
    --white: #ffff;
    --bleu: #033574;
    --turquoise: #006484;
    --vert: #88BA87;
    --LightBlue: #7893FC;
    --Topaz: #1CB5BB;
    --faded: #6B8CBB;
    --lightwhite: rgba(0, 26, 139, 0.377);
    --underline-width: 1lh;
    --underline-block-width: 200vmax;
    --underline-color: hsl(0 0% 50% / 0.15);
    --underline-transition: 5s;
    --finish-fill: hsl(0 0% 100%);
    --accent: hsl(0 0% 100%);
    --fill: hsl(0 0% 50%);
    
}

body {
  overflow-x: hidden;
  margin: 0;
}

ul.technique-gsap{
  background: rgba(0,0,0,0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li{
  margin: 5px 0;
}

/* - HEADER - */

header {
  text-align: center;
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(/media/img/img_arriere_plan/espace.png);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-family: 'Poetsen';
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

h1 {
  font-family: 'Jersey';
  font-size: 60px;
  font-weight: 400;
  color: var(--white);
}

h2 {
  font-family: 'Jersey';
  font-size: 50px;
  font-weight: 400;
  color: var(--turquoise);
}

h4 {
  font-family: 'Jersey';
  font-size: 40px;
  font-weight: 400;
  color: var(--turquoise);
}

h3 {
  font-family: 'Jersey';
  font-size: 40px;
  font-weight: 400;
  color: var(--turquoise);
}

.chat1{
  position:static;
  margin-top: -600px;
  animation: float 2s linear 0s infinite ;
}

.animationbas{
  position: relative;
  top: 8.5vh;

}

svg{
 width: 100vw;
}

#white{
  fill: var(--white);
}

#lightblue{
  fill: var(--faded);
}

#darkblue{
  fill: var(--bleu);
}

#triangle1_3, #triangle1_2, #triangle1 {
  transition: all 1s ease;
  animation: triangleAnimation 3s infinite;
}

@keyframes triangleAnimation {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%);

  }
  100% {
    transform: translateY(100%);

  }
}

.titre {
  animation: animate1 2s linear 0s infinite;;
}

@keyframes animate1 {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
  }
  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }
  100% {
    filter: alpha(opacity=0);
    opacity: 0;
  }

}

.down {
  width: 70vw;
  position: absolute;
  color: var(--white);
  top: 70vh;
  left: 0vw;
  text-align: center;
  padding-left: 15%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }

}

.projet {
  width: 70vw;
  position: absolute;
  color: var(--white);
  top: 92vh;
  left: 0vw;
  text-align: center;
  padding-left: 15%;
}
 

/* -- MAIN -- */

main {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

section {
  border: 1px solid rgb(132, 0, 255)
}

img { border: 1px solid rgba(218, 116, 0, 0.5); }

/* -- CHPT1 -- */

#chapitre-01 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(/media/img/img_arriere_plan/espace.png);
}

#chapitre-01 .chat-orange {
  position: absolute;
  top: 50vh;
  left: 70vw;
}

#chapitre-01 p{
  width: 70vw;
  position: absolute;
  color: var(--Topaz);
  top: 5vh;
  text-align: center;
  padding-left: 15%;
}

.planete {
  position: relative;
  width: 60vw;
  top: 20vh;
  right: 20vw;
}



/* -- CHPT2 -- */

#chapitre-02 {
  background-image: url(/media/img/img_arriere_plan/paralax.png);
  min-width: 100vw;
  width: 100vw;
  height: 650vh;
  position: relative;
}

#chapitre-02 p{
  width: 70vw;
  position: absolute;
  color:red;
  top: 5vh;
  text-align: center;
  padding-left: 15%;
}


#chat2 {
  background-image: url(../media/img/img_personnages/chat/blink-fall-1.png);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; 
}

/* -- CHPT3 -- */

#chapitre-03 {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(/media/img/img_arriere_plan/eaufond.png);
}
#chapitre-03 p{
  text-align: center;
  padding-left: 15%;
  width: 70vw;
  position: absolute;
  color: red;
  top: 5vh;
}

#chapitre-03 .chat3 {
  position: absolute;
  top: 50vh;
  left: -20vw;
}

#chapitre-03 .coraux-bleu{
  position: absolute;
  width:30vw;
  top: 50vh;
  left: 3vw;
  z-index: 1;
}



#chapitre-03 .bulles{
  position: absolute;
  width:95vw;
  left: 2vw;
}

#chapitre-03 .coraux-tube-roche{
  position: absolute;
  width:20vw;
  top: 70vh;
  left: 70vw;
}

#chapitre-03 .coraux-bleu2{
  position: absolute;
  width:10vw;
  top: 78vh;
  left: 50vw;
}

#chapitre-03 .algue{
  position: absolute;
  width:15vw;
  top: 65vh;
  left: 30vw;
}

#chapitre-03 .algue2{
  position: absolute;
  width:20vw;
  top: 50vh;
  left: 88vw;
}

#chapitre-03 .sprite-sheet-plante{
  position: absolute;
  width:10vw;
  top: 65vh;
  left: 81vw;
  transform-origin: bottom center;
  transform: scaleX(-1);
}



/* -- CHPT4 -- */

#chapitre-04 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(/media/img/img_arriere_plan/eaufond.png);;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#chapitre-04 .chat4 {
  position: absolute;
  top: 40vh;
  left: -20vw;
}

#chapitre-04 p{
  width: 70vw;
  position: absolute;
  color: red;
  top: 5vh;
  text-align: center;
  padding-left: 15%;
}

#chapitre-04 .bulles{
  position: absolute;
  width:95vw;
  left: 2vw;
}

#chapitre-04 .poisson-bleu-orange{
  width:30vw;
  top: 10vh;
  left: 70vw;
  position: absolute;
}

#chapitre-04 .poisson-bleu-foncer{
  top: 50vh;
  left: 90vw;
  position: absolute;
  width: 18vw;
}

#chapitre-04 .poisson-rose{
  top: 60vh;
  left: 10vw;
  position: absolute;
  width: 18vw;
  transform: scaleX(-1);
}

#chapitre-04 .algue4{
  top: 40vh;
  left: -2vw;
  z-index: 1;
  position: absolute;
  width:30vw;
}

#chapitre-04 .algue5{
  position: absolute;
  width:10vw;
  top: 65vh;
  left: 75vw;
}

#chapitre-04 .coraux-tube{
  position: absolute;
  width:15vw;
  top: 75vh;
  left: 45vw;
}

#chapitre-04 .coraux-mauve{
  position: absolute;
  width:35vw;
  top: 67vh;
  left: 60vw;
  transform-origin: bottom center;
}

#chapitre-04 .coraux-mauve2{
  position: absolute;
  width:20vw;
  top: 67vh;
  left: 15vw;
  transform-origin: bottom center;
}



/* -- CHPT5 -- */

#chapitre-05 {
  background-image: url(/media/img/img_arriere_plan/eaufond.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#chapitre-05 .chat5 {
  position: absolute;
  top: 40vh;
  left: 80vw;
}

#chapitre-05 .raie{
  position: absolute;
  width:50vw;
  top: 40vh;
  left: -10vw;
  transform: scaleX(-1);
}

#chapitre-05 p{
  position: absolute;
  top: 5vh;
  text-align: center;
  padding-left: 15%;
  width: 70vw;
  color: red;
}

#chapitre-05 .bulles3{
  position: absolute;
  width:95vw;
  left: 2vw;
}

#chapitre-05 .coraux-mauve-rose-bleu{
  position: absolute;
  width:20vw;
  top: 70vh;
  left: 65vw;
  transform-origin: bottom center;
}

#chapitre-05 .coraux-bleu-vert{
  position: absolute;
  width:10vw;
  top: 66vh;
  left: 87vw;
}


#chapitre-05 .coraux-bleu-vert2{
  position: absolute;
  width:10vw;
  top: 80vh;
  left: 4vw;
  transform: scaleX(-1);
  
}

#chapitre-05 .roche{
  position: absolute;
  width:20vw;
  top: 70vh;
  left: 80vw;
  transform-origin: bottom center;
  z-index: 1;
}

#chapitre-05 .roche2{
  position: absolute;
  width:20vw;
  top: 82vh;
  left: 10vw;
  transform-origin: bottom center;
  transform: scaleX(-1);
}

#chapitre-05 .sprite-sheet-plante{
  position: absolute;
  width:10vw;
  top: 79vh;
  left: 13vw;
  transform-origin: bottom center;
}

#chapitre-05 .sprite-sheet-poisson{
  position: absolute;
  width:5vw;
  transform-origin: bottom center;
  top: 79vh;
  left: 13vw;
  transform: scaleX(-1);
}



/* -- CHPT6 -- */
#chapitre-06 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(/media/img/img_arriere_plan/eaufond.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#chapitre-06 p{
  width: 70vw;
  position: absolute;
  color: red;
  top: 5vh;
  text-align: center;
  padding-left: 15%;
}

#chapitre-06 .chat6 {
  position: absolute;
  top: 70vh;
  left: 10vw;
}

#chapitre-06 .sprite-sheet-poisson{
  position: absolute;
  width:10vw;
  transform-origin: bottom center;
  top: 50vh;
  left: 88vw;
}


#chapitre-06 .personnage-mauve {
  position: absolute;
  width: 20vw;
  top: 60vh;
  left: 90vw;
  z-index: 1;
}

#chapitre-06 .coraux-bleu3{
  position: absolute;
  width:10vw;
  top: 75vh;
  left: 1vw;
}

#chapitre-06 .coraux-tube-roche {
  position: absolute;
  width: 10vw;
  top: 87vh;
  left: 62vw;
}

#chapitre-06 .algue6{
  position: absolute;
  width: 6vw;
  top: 72vh;
  left: 84vw;
  transform: scaleX(-1);
}

#chapitre-06 .algue7{
  position: absolute;
  width:10vw;
  top: 78vh;
  left: 30vw;
}

#chapitre-06 .roche3{
  position: absolute;
  width:20vw;
  top: 70vh;
  left: 80vw;
  transform-origin: bottom center;
  z-index: 1;
}

#chapitre-06 #morphing { 
  background: url(https://lorempixel.com/1500/700) no-repeat 50% 50%; background-size: cover; position: relative; height: 100vh; 
}

#chapitre-06 #morphing svg { width: 100%; height: auto; position: absolute; bottom: 0; }

/* -- CHPT7 -- */

#chapitre-07 {
  position: relative;
  width: 100vw;
  height: 800vh;
  background-image: url(/media/img/img_arriere_plan/paralaxBackwards.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#chapitre-07 .chat7 {
  background-image: url(../media/img/img_personnages/chat/blink-fall-1.png);
  overflow: hidden;
  position: fixed;
  top: 10%;
  left: 45%;
  transform: translateX(-50%);
  opacity: 0; 
  transform: scaleX(-1);
  z-index: 1;
}

#chapitre-07 .personnage-mauve {
  position: absolute;
  width: 20vw;
  top: 17vh;
  left: 40vw;
  z-index: 1;
}

#chapitre-07 p{
  width: 70vw;
  position: absolute;
  color: var(--marine);
  top: 5vh;
  text-align: center;
  padding-left: 15%;
}

/* -- CHPT8 -- */
#chapitre-08 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(/media/img/img_arriere_plan/espace.png);
  z-index: 1;
}

#chapitre-08 .chat8 {
  position: absolute;
  top: 30vh;
  left: 45vw;
  transform: scaleX(-1);
}

#chapitre-08 p{
  width: 70vw;
  position: absolute;
  color: red;
  top: 5vh;
  text-align: center;
  padding-left: 15%;
  
}


#svg1{
  position: absolute;
  display: flex;
  width:400px;
  height: 400px;
  top: 30vh;
  left: 10vw;
}


#etoile {
  visibility:hidden;
}


#svg2 {
  position: absolute;
  display: flex;
  width:300px;
  height: 300px;
  top: 10vh;
  left: 40vw;
}

#etoiles {
  visibility:hidden;
}


#svg3 {
  position: absolute;
  display: flex;
  width:200px;
  height: 200px;
  top: 60vh;
  left: 80vw;
}

#etoiless {
  visibility:hidden;
}

#svg4 {
  position: absolute;
  display: flex;
  width:350px;
  height: 350px;
  top: 70vh;
  left: 30vw;
}

#etoilesss {
  visibility:hidden;
}

#svg5 {
  position: absolute;
  display: flex;
  width:500px;
  height: 500px;
  top: 20vh;
  left: 80vw;
}

#etoilessss {
  visibility:hidden;
}
/* --FOOTER-- */

.texte-footer{
  font-size: 10px;
  text-align: center;
  color: var(--marine);
}

/* --HTML-SPRITE-SHEET-- */

.body-sheet{
  height: 300vh;
}

.sprite-sheet-plante {
  background-image: url(../media/img/img_elements_visuels/spritesheet_plante_2.png);
  width: 50vw;
  aspect-ratio: 1/1;
  background-size: 2300% 100%;
  animation-name: plante;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(21);
  animation-play-state: paused;
}

@keyframes plante {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}

.body-sprite-sheets.is-scrolling .sprite-sheets-plante {
  animation-play-state: running;
}


.sprite-sheet-poisson {
  background-image: url(../media/img/img_elements_visuels/spritesheet_poisson.png);
  width: 50vw;
  aspect-ratio: 1/1;
  background-size: 7200% 100%;
}

.is-scrolling .sprite-sheet-poisson {
  animation: poisson 2s steps(71) infinite;
}

@keyframes poisson {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}