@font-face {
    font-family: Dangrek;
    src: url(../font/Dangrek/Dangrek-Regular.ttf);
  }

  @font-face {
    font-family: kanit;
    src: url(../font/Syne_Mono/SyneMono-Regular.ttf);
  }

:root {  
    --bleu: #033574;
    --turquoise: #006484;
    --vert: #88BA87;
    --LightBlue: #7893FC;
    --Topaz: #1CB5BB;
    --faded: #6B8CBB;
}

p {
  font-family: 'Kanit';
  font-size: 20px;
  font-weight: bold;
  color: var(--LightBlue);
}

h1 {
  font-family: 'Dangrek';
  font-size: 60px;
  font-weight: bold;
  color: var(--turquoise);
}

h2 {
  font-family: 'Dangrek';
  font-size: 50px;
  font-weight: bold;
  color: var(--turquoise);
}

h4 {
  font-family: 'Dangrek';
  font-size: 40px;
  font-weight: bold;
  color: var(--turquoise);
}

h3 {
  font-family: 'Dangrek';
  font-size: 40px;
  font-weight: bold;
  color: var(--turquoise);
}


body{ 
    overflow-x:hidden ;
}

ul.technique-gsap{
  background: rgba(0,0,0,0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li{
  margin: 5px 0;
}

section div {
  border: 1px solid blue;
}

section {
  border: 1px solid rgb(183, 0, 255);
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .textBox .text {
      font-size: 6vmin;
      line-height: 6vmin;
  }
}

/*
header
*/

#intro {
  background-image: url(../media/img/img_arriere_plan/espace.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down{
  align-items: center;
  justify-content: space-between;
}



/*
Chp1
*/

#chpt1 {
  background-image: url(../media/img/img_arriere_plan/espace.png);
  background-repeat: repeat-x;
  overflow: hidden;
}

.blinkfloat{
  width: 400px;
  height: 300px;
  background-color: #006484;
 overflow: hidden;

}

.spriteblinkfloat{
  animation: moveSpritesheet 1s steps(2) infinite;

}

@keyframes moveSpritesheet {
  from {
     transform: translate3d(0px,0,0)
  }
  to {
     transform: translate3d(-90%,0,0)
  }
}


/*
Chp2
*/

#chpt2 {
  background-image: url(../media/img/img_arriere_plan/paralax.png);
  background-blend-mode: multiply;
  overflow: hidden;
  height: 500vh;
  width: 100vw;

}

/*
Chp3
*/

#chpt3 {
  background-image: url(../media/img/img_arriere_plan/eaufond.png);
  background-blend-mode: multiply;
  overflow: hidden;

}

/*
Chp4
*/

#chpt4 {
  background-image: url(../media/img/img_arriere_plan/eaufond.png);
  background-blend-mode: multiply;
  overflow: hidden;

}

/*
Chp5
*/


#chpt5 {
  background-image: url(../media/img/img_arriere_plan/eaufond.png);
  background-blend-mode: multiply;
  overflow: hidden;

}

/*
Chp6
*/

#chpt6 {
  background-image: url(../media/img/img_arriere_plan/eaufond.png);
  background-blend-mode: multiply;
  overflow: hidden;

}

/*
Chp7
*/

#chpt7 {
  background-image: url(../media/img/img_arriere_plan/paralaxBackwards.png);
  background-blend-mode: multiply;
  overflow: hidden;
  height: 500vh;
  width: 100vw;
}

/*
Chp8
*/

#chpt8 {
  background-image: url(../media/img/img_arriere_plan/espace.png);
  background-blend-mode: multiply;
  overflow: hidden;
}