@font-face {
    font-family: Dangrek;
    src: url(../font/Dangrek/Dangrek-Regular.ttf);
  }

  @font-face {
    font-family: kanit;
    src: url(../font/Syne_Mono/SyneMono-Regular.ttf);
  }

:root {  
    --bleu: #033574;
    --turquoise: #006484;
    --vert: #88BA87;
    --LightBlue: #7893FC;
    --Topaz: #1CB5BB;
    --faded: #6B8CBB;
}

body{ 
    overflow-x:hidden ;
}

ul.technique-gsap{
  background: rgba(0,0,0,0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li{
  margin: 5px 0;
}